{% extends 'base.html.twig' %}

{% block title %}Gérer les programmes{% endblock %}

{% block body %}
    

    <div class="container mt-4">

        <h1>Gérer les programmes</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Session</th>
                    <th>Module</th>
                    <th>Durée</th>

                </tr>
            </thead>
            <tbody>
            {% for belong in belongs %}
            <tr>
                <td>{{ belong.session.title }}</td>
                <td>{{ belong.module.title }}</td>
                <td>{{ belong.duration }}</td>
                <td>
                    <a href="{{ path ('belong.edit', {id: belong.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path ('belong.delete', {id: belong.id}) }}" style="display: inline-block" onsubmit="return confirm('Vous êtes en train de supprimer un programme, êtes vous sûr?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ belong.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path ('belong.new') }}" class="btn btn-primary">Créer une nouveau programme</a>
        </div>
        <div class="d-flex justify-content-end">
            <a href="{{ path ('accueil') }}" class="btn btn-secondary">Retour</a>
        </div>
    </div>   
{% endblock %}