{% extends 'base.html.twig' %}

{% block title stagiaire.lastname %}

{% block body %}
    <div class="jumbotron center">
        <div class="container mt-4">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-4">
                <h1>Fiche Stagiaire</h1>
                    {% if stagiaire.filename %}
                    <img src="{{ vich_uploader_asset(stagiaire, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 200px; height:200px;">
                    {% else %}
                    <img src="{{ '/images/stagiaires/avatarDoe.png' | imagine_filter('medium') }}" alt="card-img-top" style="width: 200px; height:200px;">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h2>{{ stagiaire.firstname }} {{ stagiaire.lastname }}</h2>
                    <h3>Sexe : {{ stagiaire.sexeType }}</h3>
                    <h3>Date de naissance : {{ stagiaire.born | date('d/m/Y') }}</h3>
                    <h3>Ville : {{ stagiaire.town }}</h3>
                    <h3>Courriel : {{ stagiaire.email }}</h3>
                    <h3>Téléphone : {{ stagiaire.phone }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h2>Sessions prévues :</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in stagiaire.sessions | sort((a, b) => a.datestart <=> b.datestart) %}
                        <tr>
                            <td>{{ session.title }}</td>
                            <td>{{ session.datestart | date('d/m/Y') }}</td>
                            <td>{{ session.dateend | date('d/m/Y') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a href="{{ path ('stagiaire.index') }}" class="btn btn-secondary">Retour</a>
    </div>
{% endblock %}