{% extends 'base.html.twig' %}

{% block title %}Gérer les sessions{% endblock %}

{% block body %}
    

    <div class="container-fluid mt-4">

        <h1>Gérer les sessions</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Places théo</th>
                    <th>Places rés.</th>
                    <th>Places rest.</th>
                    <th>Créé le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for session in sessions %}
            <tr>
                <td>{{ session.title }}</td>
                <td>{{ session.datestart | date('d/m/Y') }}</td>
                <td>{{ session.dateend | date('d/m/Y') }}</td>
                <td>{{ session.spaceavailable }}</td>
                <td>{{ session.stagiaires | length }}</td>
                <td>{{ session.spaceavailable - session.stagiaires | length }}</td>
                <td>{{ session.created_at | date('d/m/Y')  }}</td>
                <td>
                    <a href="{{ path('session.show', {id: session.id, slug: session.slug}) }}" class="btn btn-success">Consulter</a>
                    <a href="{{ path ('session.edit', {id: session.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path ('session.delete', {id: session.id}) }}" style="display: inline-block" onsubmit="return confirm('Vous êtes en train de supprimer une session, êtes vous sûr?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path ('session.new') }}" class="btn btn-primary">Créer une nouvelle session</a>
        </div>
        <div class="d-flex justify-content-end">
            <a href="{{ path ('accueil') }}" class="btn btn-secondary">Retour</a>
        </div>
    </div>   
{% endblock %}
