{% extends 'base.html.twig' %}

{% block title session.title %}

{% block body %}
    <div class="jumbotron center">
        <div class="container mt-4">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-6">
                <h1>Fiche Session :</h1>
                <h2>{{ session.title }}</h2>
                <h2>Comprends les modules : </h2>
                {% for belong in session.belongs | sort((a, b) => a.module.title <=> b.module.title)%}
                <h3> - {{ belong.module.title }}, durée {{ belong.duration }} jours</h3>
                {% endfor %}
                </div>
                <div class="col-md-6">
                    <h3>Date de début : {{ session.datestart | date('d/m/Y') }}</h3>
                    <h3>Date de fin : {{ session.dateend | date('d/m/Y') }}</h3>
                    <h3>Nombre de places théoriques : {{ session.spaceavailable }}</h3>
                    <h3>Nombre de places réservées : {{ session.stagiaires | length }}</h3>
                    <h3>Nombre de places restantes : {{ session.spaceavailable - session.stagiaires | length }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Stagiaires inscrits :</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Sexe</th>
                            <th>Date de naissance</th>
                            <th>Ville</th>
                            <th>Courriel</th>
                            <th>Téléphone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stagiaire in session.stagiaires | sort((a, b) => a.lastname <=> b.lastname) %}
                        <tr>
                            <td>{{ stagiaire.lastname }}</td>
                            <td>{{ stagiaire.firstname }}</td>
                            <td>{{ stagiaire.sexeType }}</td>
                            <td>{{ stagiaire.born | date('d/m/Y') }}</td>
                            <td>{{ stagiaire.town }}</td>
                            <td>{{ stagiaire.email }}</td>
                            <td>{{ stagiaire.phone }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a href="{{ path ('session.index') }}" class="btn btn-secondary">Retour</a>
    </div>
{% endblock %}